.cast-full-width {
  width: 100%;
}

.cast-category-actions-delete-icon {
  float: right;
  cursor: pointer;
}

.cast-category-actions-delete-text {
  font-size: 16px;
  float: left;
}

.cast-category-actions-container {
  padding: 8px 0;
  height: 20px;
}
